@media screen and (max-width:575px) {
	.table-rating table thead tr th {
		font: normal 400 14px/22px Roboto,sans-serif!important;
		padding: 10px 15px!important;
	}

	.rating-players-block .advanced-block__hidden .sort-button .sort-button__one:last-child .checkbox-custom-label {
		font: normal 400 14px/22px Roboto,sans-serif!important;
	}

	.rating-players-block .advanced-block__hidden .sort-button .sort-button__one:last-child .sort-button__one-title {
		font: normal 400 14px/22px Roboto,sans-serif!important;
		margin-bottom: 85px!important;
	}

	.rating-players-block .advanced-block__hidden .sort-button .sort-button__one-center .checkbox-custom-label {
		font: normal 400 14px/22px Roboto,sans-serif!important;
	}

	.rating-players-block .advanced-block__hidden .sort-button__one:first-child .sort-button__one-row span {
		font: normal 400 14px/22px Roboto,sans-serif!important;
	}

	.advanced-block-wrapper-number input {
		font: normal 400 14px/22px Roboto,sans-serif!important;
	}

	.rating-players-block .advanced-block__hidden .sort-button__one:first-child .sort-button__one-title {
		font: normal 400 14px/22px Roboto,sans-serif!important;
	}

	.rating-players-block .advanced-block__hidden .sort-button {
		margin-top: 0!important;
	}

	.sort-button {
		display: block!important;
	}

	.sort-button__one {
		display: inline-block!important;
		width: 100%;
	}

	.sort-button__one .sort-button__one-check {
		display: inline-block!important;
		width: auto;
	}

	.sort-button__one:last-child {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.search_bar input {
		font: normal 400 14px/17px Roboto,sans-serif!important;
		padding: 0 .5em!important;
		
	}

	.mobile-col {
		padding: 0!important;
	}


	.rating-players-block .advanced-block__mini__one-select:first-child {
		margin: 0!important;
	}

	.rating-players-block .advanced-block__mini__one-select {
		margin: 0!important;
	}

	.search_bar {
		max-width: 100%!important;
	}

	.rating-page-block {
		width: 400px;
		margin: auto;
	}
	.player-photo {display: none;}

	.title-rating {
		padding: 0!important;
	}

	.mobile-col {
		padding: 0!important;
	}

	.rating-players-block .rating-search .search_bar {
		min-height: 30px!important;
		margin: 0!important;
	}

	.rating-players-block .rating-search .search_bar .icon-search {
		right: 10px!important;
		top: 7px!important;
		height: 15px!important;
		width: 15px!important;
		color: #8b99c0;
		
		background-color:#8b99c0;
	}

	.advanced-block-wrapper {
		margin: 0 0 15px!important;
	}

	.rating-players-block .rating-search {
		padding: 25px 15px!important;
	}

	.page-block {
		margin-bottom: 0!important;
	}


	.table-rating table tbody tr td {
		padding: 10px 15px 10px;
		font: normal 400 14px/17px Roboto,sans-serif;
	}

	.mobile-btn {
		padding: 10px;
		margin-left: 70%;
		width: 30%;
		display: inline-block;
		text-align: center;
	}

	.rating-players-block .rating-search__modal-button {
		padding: 10px;
	}

	.ant-select-search__field__placeholder,.ant-select-selection__placeholder {
		font: normal 400 14px/22px Roboto,sans-serif!important;
	}

	.ant-select-dropdown-menu-item {
		font: normal 400 14px/normal Roboto,sans-serif!important;
	}

	.rating-players-block .advanced-block {
		padding: 15px!important;
	}

	.ant-select-selection--single {
		max-width: 100%!important;
	}

	.ant-table-thead>tr>th {
		font: normal 400 14px/17px Roboto,sans-serif!important;
		padding: 10px 15px!important;
	}

	.rating-players-block .advanced-block__hidden {
		margin-top: 0!important;
		clear: both!important;
	}

	.rating-players-block .advanced-block__hidden .sort-button__one:first-child .sort-button__one-row {
		display: block;
	}

	.rating-players-block[_ngcontent-skn-c1] .advanced-block__hidden[_ngcontent-skn-c1] .sort-button__one[_ngcontent-skn-c1] span[_ngcontent-skn-c1] {
		width: 25%!important;
	}

	.rating-players-block .advanced-block__mini {
		display: block!important;
	}

	.rating-players-block[_ngcontent-vki-c1] .advanced-block__hidden[_ngcontent-vki-c1] .sort-button__one[_ngcontent-vki-c1] span[_ngcontent-vki-c1] {
		width: 30%!important;
	}

	.second-select .ant-radio-wrapper {
		margin: 0 0 10px 0!important;
	}

	.rating-players-block[_ngcontent-kgb-c1] .advanced-block__hidden[_ngcontent-kgb-c1] .sort-button[_ngcontent-kgb-c1] {
		margin-top: 0!important;
	}

	span.ant-radio+* {
		font: normal 400 14px/normal Roboto,sans-serif!important;
	}

	.hidden-rating-block {
		display: none!important;
	}

	.title-rating .title-block {
		font: normal 400 20px/normal Roboto,sans-serif;
	}

	.rating-players-block .advanced-block__mini__one-select {
		font: normal 400 14px/17px Roboto,sans-serif;
	}

	
	
	.section_title {
	

	height: 56px;
	background-color: #50618d;
	font: normal 300 14px Roboto,sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .01em;
	padding-left: 15px;
	padding-right: 15px;
}

.std_tab, .blitz_tab, .rapid_tab
{
height: 30px;
font: normal 500 16px Roboto,sans-serif;

}

.table-top table {
padding: 0;
}


.table-top table tbody tr td
{
	
font: 14px Roboto,sans-serif;
padding: 5px;
	
}
.table-top table thead tr th {
	color: #fff;
	font: normal 400 12px/22px Roboto,sans-serif;
	padding: 5px;
	background: #334166;
	border-bottom: none;
}
.table-top table tbody tr .flag-wrapper img {
	width: 14px;
	
	display: inline-block;
	margin-right: 10px;
}
.table-top table tbody tr td a {
	color: #334166;
	font: normal 400 14px Roboto,sans-serif;
	text-decoration: none;
	font-weight: bolder;
}

.table-top table tbody tr td a:hover {
	color: #8b99c0;
}

.title-page
{
	font-size: 16px;
}



table.dataTable tr.dtrg-group td
{
	font: normal 400 14px Roboto,sans-serif;
	
}
table.dataTable tr td
{
	font: normal 400 12px Roboto,sans-serif;
	
}

.table-rating table tbody tr td a
{
font: normal 400 14px/22px Roboto,sans-serif;
}
.table-rating table tbody tr td, .table-rating table tbody thead tr th {
font: normal 400 14px/22px Roboto,sans-serif;
}
.table-rating table thead tr th {
	color: #fff;
	font: normal 400 14px Roboto,sans-serif;
	padding: 10px;
	background: #334166;
	border-bottom: none;
}
.rectangle-menu {
 padding-top: 5px;
  
}

.logo-name {
  
  font-family: "Bitstream Vera Serif", serif ;
  font-size: 12px ;
  color: red;
 
  
}

.rectangle-menu .rectangle-menu-one {

    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    letter-spacing: .01em;
    text-transform: capitalize;
    position: relative;
font-size: 12px;

}

.logo-name {
    font-family: "Bitstream Vera Serif",serif !important;
	font-size: 12px !important;
	color: red;
}

.rectangle-menu .rectangle-menu-one

{
	font-size: 11px !important;
	padding: 10px !important;
}

.table2
{
 width: 100%;
 display: flex; 
 font-size: 12px;
}



}